:root {
  --dark_blue: #071A36;
  --orange: #f9a136;
}
    /* * {border: 1px solid red;} */

body {
    margin: 0;
    background: var(--dark_blue);
    color: white;
}
html{scroll-behavior:smooth;}

.nav {
  width: 100%;
  height: 6.21rem;
  background-color: var(--orange);
  position: fixed;
  z-index: 9000;
}
.logo_nav {
  width: 9rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.logo_nav img {
  width: 55%;
  transform: scale(1);
  transition: all 0.3s ease;
  margin-left: 1rem;
}

.logo_nav img:hover {
  transform: scale(0.9);
}
.nav-links {
  float: right;
  height: 100%;
  width: 63rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-links .nav_locator {
  padding: 1rem 2rem;
  font-family:'Bebas Neue',sans-serif;
  letter-spacing: 1px;
  border: 1px solid transparent;
  background-color: rgb(255, 209, 149);
  clip-path: polygon(
    0% 0%,
    calc(100% - 8px) 0%,
    100% 8px,
    100% 100%,
    8px 100%,
    0% calc(100% - 8px)
  );  
  transition: all 0.3s ease;
}
.nav-links .nav_locator:hover {
  clip-path: polygon(
    8px 0%,
    100% 0%,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    0% 100%,
    0% 8px
  );
  background-color: var(--orange);
  border: 1px solid rgb(255, 209, 149);
}
.nav-links .nav_locator:active {
  transform: scale(0.97);
}

.nav-links .nav_apply {
  padding: 10px 18px;
  font-family:'Bebas Neue',sans-serif;
  font-size: 18px;
  letter-spacing: 0.04em;
  border: none;
  animation: jitter 2s ease infinite;
  cursor: pointer;
  clip-path: polygon(
    0% 0%,
    calc(100% - 8px) 0%,
    100% 8px,
    100% 100%,
    8px 100%,
    0% calc(100% - 8px)
  );
  outline: 1px solid var(--color-border-primary);
  /* opacity: 2; */
  /* outline-offset: -1px; */
  background-color: #1995F8;
  color: white !important;
  transition: all 0.3s ease;
  filter: brightness(1.05);
}
.nav-links .nav_apply:hover {
  transform: scale(1.05);
  clip-path: polygon(
    8px 0%,
    100% 0%,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    0% 100%,
    0% 8px
  );
}
.nav-links .nav_apply:active {
  transform: scale(0.97);
}
.menu_icon_btn {
  width: 6.21rem;
  height: 6.21rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark_blue);
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
}
.menu_icon {
  display: none;
}
.nav-links-menu {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-evenly;  /* spreads buttons across available space */
  flex: 1;                         /* takes all remaining height after the title */
  margin-top: 0.5rem;
}
.nav-links-menu .nav_locator {
  padding: 1rem 2rem;
  font-family:'Bebas Neue',sans-serif;
  letter-spacing: 1px;
  border: 1px solid transparent;
  background-color: rgb(255, 209, 149);
  clip-path: polygon(
    0% 0%,
    calc(100% - 8px) 0%,
    100% 8px,
    100% 100%,
    8px 100%,
    0% calc(100% - 8px)
  );  
  transition: all 0.3s ease;
  width: 90%;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
}
.nav-links-menu .nav_apply {
  padding: 10px 18px;
  font-family:'Bebas Neue',sans-serif;
  font-size: 18px;
  width: 90%;
  letter-spacing: 0.04em;
  border: none;
  animation: jitter 2s ease infinite;
  font-weight: 500;
  cursor: pointer;
  clip-path: polygon(
    0% 0%,
    calc(100% - 8px) 0%,
    100% 8px,
    100% 100%,
    8px 100%,
    0% calc(100% - 8px)
  );
  outline: 1px solid var(--color-border-primary);
  /* opacity: 2; */
  /* outline-offset: -1px; */
  background-color: #1995F8;
  color: white !important;
  transition: all 0.3s ease;
  filter: brightness(1.05);
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
}.phone_img_hero {
  display: none;
}


/* ------------------------------------------------------------------------------------------------------ */
/*                                          MENU SECTION                                                  */
/* ------------------------------------------------------------------------------------------------------ */



.menu {
  width: 90%;
  height: 90dvh;        /* fixed full height, no auto/min-height guessing */
  max-height: 90dvh;
  margin-top: 0;        /* remove this — it was pushing bottom out of view */
  margin-right: 0;      /* remove this too */
  top: 5dvh;            /* centered vertically with space top and bottom */
  right: 2.5%;          /* replaces margin-right: 5% */
  background-color: #f9a136eb;
  border-left: 1px solid black;
  z-index: 800;
  position: fixed;
  transform: translateY(-220%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-y: auto;
}
.header_menu {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  color: var(--dark_blue);
  margin-bottom: 1rem;
}

.menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 799;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.menu button {
  background: transparent;
  color: var(--dark_blue);
  font-weight: 800;
  border: transparent;
  padding: 10px;
  font-size: 1rem;
}
.menu #closeBTN {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
}


/* ------------------------------------------------------------------------------------------------------ */
/*                                          HERO SECTION                                                  */
/* ------------------------------------------------------------------------------------------------------ */


#hero {
  padding-top: 10rem;
  width: 94%;
  height: 30rem;
  margin-left: 3%;
}
.hero_left {
  float: left;
  width: 50%;
  height: 100%;
}
.section-label{
  font-family:'Space Mono',monospace;font-size:0.55rem;
  font-weight: 600;
  letter-spacing:4px;text-transform:uppercase;opacity:0.6;
  margin-bottom:42px;display:flex;align-items:center;gap:14px;
}
.changing_text {
  height: 48%;
}

.line1 {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 0.9;
  letter-spacing: 2px;
  margin-top: 24px;
  display: block;
  /* font-size: clamp(5rem, 10vw, 140px); */
  font-size: 7rem;
  color: #1995F8;
  font-weight: 600;
  width: 100%;
  user-select: none;
}
.line2 {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 0.9;
  letter-spacing: 2px;
  margin-top: 1.5rem;
  font-size:7rem;
  display: block;
  -webkit-text-stroke: .1rem var(--orange);
  color: transparent;
  /* font-size: clamp(72px, 10vw, 140px); */
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: #b0dbff;
  margin-left: .5rem;
  animation: blink 0.7s step-end infinite;
  vertical-align: baseline;
  height: clamp(0rem, 8vw, 5rem);
}

.hero-sub{
  margin-top:28px;
  font-size:1rem;
  line-height:1.85;
  font-weight:300;
  max-width:440px;color:rgba(255, 255, 255, 0.911);
  animation:slideLeft 0.8s cubic-bezier(0.16,1,0.3,1) 0.52s both;
  font-family: "Inter", sans-serif;
}
.apply_hero {
  padding: 20px 60px;
  font-family:'Bebas Neue',sans-serif;
  font-size: 28px;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  clip-path: polygon(
    0% 0%,
    calc(100% - 8px) 0%,
    100% 8px,
    100% 100%,
    8px 100%,
    0% calc(100% - 8px)
  );
  animation: jitter 2s ease infinite;
  outline: 1px solid var(--color-border-primary);
  /* opacity: 2; */
  /* outline-offset: -1px; */
  background-color: #1995F8;
  color: white !important;
  transition: all 0.3s ease;
  filter: brightness(1.05);
  margin-left: 130px;
  margin-top: 2rem;
}
.apply_hero:hover {
  transform: scale(1.05);
  background-color: #207cc6;
  clip-path: polygon(
    8px 0%,
    100% 0%,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    0% 100%,
    0% 8px
  );
}
.hero_right_items {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 50%;
  height: 100%;
  margin-top: -5rem;
}
.hero_right_items img {
  width: 80%;
}





/* ------------------------------------------------------------------------------------------------------ */
/*                                           RULE ROW                                                     */
/* ------------------------------------------------------------------------------------------------------ */





.rule-row {
  background-color: #0c4370;
  border-top: 1px solid var(--dark_blue);
  border-bottom: 1px solid var(--dark_blue);
  overflow: hidden;
  margin-top: 5.75rem;
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: ticker-scroll 18s linear infinite;
  background-color: #0c4370; /* ensures track bg matches row */
}

.rule-item {
  font-family: 'Space Mono', monospace;
  font-size: 0.7rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #e8f4ff;
  padding: 18px 28px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  white-space: nowrap;
  flex-shrink: 0; /* ← ADD THIS */
}

@keyframes ticker-scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
/* ─── STATS ─── */
.stats-bar{
  background:var(--black);color:var(--dark_blue);
  display:grid;grid-template-columns:repeat(3,1fr);
  background-color: #4d9ddf;
}
.stat{
  padding:52px 32px;
  text-align:center;
  border-right:var(--dark_blue);
}
.stat:last-child{border-right:none;}
.stat-num{
  font-family:'Bebas Neue',sans-serif;
  font-size:clamp(3rem,5vw,5rem);
  letter-spacing:-1px;line-height:1;display:block;color:var(--dark_blue);
}
.stat-label{
  font-family:'Space Mono',monospace;font-size:0.9rem;
  letter-spacing:3px;text-transform:uppercase;opacity:0.65;
  margin-top:10px;display:block;
}

/* ------------------------------------------------------------------------------------------------------ */
/*                                    INFO DIVIDER PAGE                                                   */
/* ------------------------------------------------------------------------------------------------------ */


.info_panels {
  width: 90%;
  height: 18rem;
  background-color: #0000002f;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 1.5rem;
  gap: 2rem;
  border: .1px solid rgb(57, 70, 94);
}
.pannel {
  width: 25rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

    .scene {
      min-height: 340px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
    }
 
    .chart-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }
 
    .ring-container {
      position: relative;
      width: 200px;
      height: 200px;
      margin-bottom: -2rem;
    }
 
    .ring-container svg {
      width: 200px;
      height: 200px;
      transform: rotate(-90deg);
    }
 
    .ring-bg {
      fill: none;
      stroke: #ffffff2d;
      stroke-width: 14;
    }
    .pannel .heading {
      font-weight: 10;
      font-family:'Bebas Neue', sans-serif;
      color: white;
      -webkit-text-stroke: .1rem #0c4370;
    }
 
    .ring-fill {
      fill: none;
      stroke: var(--orange);
      stroke-width: 14;
      stroke-linecap: butt;
      stroke-dasharray: 0 565;
      transition: stroke-dasharray 3s cubic-bezier(0.22, 1, 0.36, 1);
    }
 
    .ring-fill.animated {
      stroke-dasharray: 90 565;
    }
 
    .center-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: row;
      align-items: baseline;
    } 
 
    .pct-num {
      font-size: 40px;
      font-weight: 500;
      font-family:'Bebas Neue',sans-serif;
      color: white;
      -webkit-text-stroke: .1rem #0c4370;
      font-variant-numeric: tabular-nums;
    }
 
    .pct-sym {
      font-size: 1.5rem;
      font-weight: 300;
      color: #888;
      margin-left: .3rem;
      font-family:'Bebas Neue',sans-serif;
    }
 
    .label-row {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      color: #666;
    }
 
    .dot {
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background: #378ADD;
      flex-shrink: 0;
    }
    .bar-fill {
      font-size: 4px;
    }
    .pannel .grade_levels {
      font-family:'Bebas Neue',sans-serif;
      font-size: 30;
      color: var(--orange);
      word-spacing: .5rem;
    }
    .pannel .grade_heading {
      font-weight: 10;
      font-family:'Bebas Neue', sans-serif;
      color: white;
      font-size: 2rem;
      margin-bottom: 2rem;
      margin-top: -2rem;
      -webkit-text-stroke: .1rem #0c4370;
    }
    .grant_num .grant_num_h1 {
      font-family: "Antonio", sans-serif;
      gap: -2px;
      font-size: 3rem;
      font-weight: 900;
      color: var(--orange);
    }
 



/* ------------------------------------------------------------------------------------------------------ */
/*                                           ABOUT PAGE                                                   */
/* ------------------------------------------------------------------------------------------------------ */


#about {
  width: 90%;
  margin: 3rem auto 0 auto; 
  height: 500px; 
  background-color: #071A36;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden; 
}

.class_img {
  height: 100%;
  width: 44.5rem;
}

.class_img img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  border: .4rem solid #1995F8;
  object-fit: cover;
}

/* --- THE CARD STACK CONTAINER --- */
.card-stack {
  position: relative;
  width: 30rem;
  height: 100%; 
  margin-left: 5rem;
  
  /* Creates a uniform shadow around all 3 layered cards as if they are one shape */
  filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.5));
}

#about .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
  background-color: #1995F8;
  padding: 2rem;
  box-sizing: border-box;
  color: #fff;
  border-radius: 8px;
  
  clip-path: polygon(
    0% 0%,
    calc(100% - 30px) 0%,
    100% 30px,
    100% 100%,
    30px 100%,
    0% calc(100% - 30px)
  );  

  /* 1.2s Slower Deliberate Speed */
  transition: 
    transform 1.2s cubic-bezier(0.25, 1, 0.5, 1), 
    z-index 1.2s step-end, 
    visibility 1.2s step-end; 
}

/* --- INFINITE SWIPER LAYERS --- */

/* Front Card */
.card.active {
  z-index: 3;
  transform: translate(0, 0) scale(1);
  visibility: visible;
}

/* Middle Card */
.card.next {
  z-index: 2;
  transform: translate(15px, 15px) scale(0.95);
  visibility: visible;
}

/* Back Card - Instantly invisible so it doesn't ghost when sliding back */
.card.last {
  z-index: 1;
  transform: translate(30px, 30px) scale(0.9);
  visibility: hidden; 
}

/* --- THE MOTION STATE --- */
.card.swipe-away {
  transform: translate(130%, -30px) rotate(15deg) scale(0.95);
  z-index: 4;
  visibility: visible;
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1); 
}



/* ------------------------------------------------------------------------------------------------------ */
/*                                           ANIMATIONS                                                   */
/* ------------------------------------------------------------------------------------------------------ */



@keyframes jitter {
   0%, 100% { transform: translateY(0px) rotate(0deg); }
  40% { transform: translateY(-6px) rotate(-0.5deg); }
  50% { transform: translateY(-7px) rotate(0.5deg); }
  60% { transform: translateY(-6px) rotate(-0.3deg); }
}


@keyframes ticker-scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}